:root {
	--bg: white;
	position: relative;
}
body {
	margin: 0;
	padding: var(--size);
	width: 100%;
}
details {
	max-width: calc(var(--size) * 20);
}
fieldset {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
iframe {
	width: 100%;
}
span {
	font-size: 1.4rem;
}
menu {
	list-style: disclosure-closed;
}
menu li,
button {
	margin: var(--size);
}
details details menu {
	/* padding: 0; */
}
details details menu li {
	margin: 0;
}
details details menu a {
	text-decoration: none;
	color: black;
}
input[type="text"]:not(:valid) {
	border: 1px solid gray;
}
input[type="text"]:valid {
	border: 1px solid green;
}
input[type="text"]:not(:valid) ~ button[type="submit"] {
	display: none;
}
input[type="text"]:valid ~ button[type="submit"] {
	display: block;
}
a#rock:active {
	transform: translateX(0);
}
a#rock:focus,
a#rock:active,
a#choice:focus,
a#choice:active {
	transform: translateX(0);
}
a#choice {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 5vh;
	left: 4vw;
	z-index: 2;
}
a#choice:hover {
	opacity: 1;
}
a#choice:focus,
a#choice:active {
	padding: var(--size);
	pointer-events: all;
	opacity: 0.5;
	filter: blur(5px) grayscale(50%);
	outline: none;
}
a#rock {
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translateX(-100vw);
	background-color: var(--bg);
	text-decoration: none;
}
/* scenes */
my-scene {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: calc(var(--size) * 4);
	overflow: hidden;
	flex-wrap: wrap;
	cursor: context-menu;
}
my-scene > * {
	transition: transform 222ms ease-in-out;
}
my-scene-rock {
	transform: translateX(-2vw) translateY(-10vw);
}
my-scene-rock:nth-of-type(2) {
	transform: translateX(6vw) translateY(-8vw);
}
my-scene-rock:nth-of-type(3) {
	transform: translateX(14vw) translateY(5vw);
}
my-scene-mountain {
	transform: translateX(15vw) translateY(20vw) scale(3);
}
my-scene-tree {
	transform: translateX(-20vw) translateY(15vw) scale(0.8);
}
my-scene-bee {
	transform: translateX(55vw) translateY(-15vw) scale(0.3);
}
@keyframes listWithStyles {
	0% {
		list-style: disc;
	}
	10% {
		list-style: circle;
	}
	20% {
		list-style: square;
	}
	30% {
		list-style: decimal;
	}
	40% {
		list-style: decimal-leading-zero;
	}
	50% {
		list-style: lower-roman;
	}
	60% {
		list-style: upper-roman;
	}
	70% {
		list-style: lower-greek;
	}
	80% {
		list-style: lower-latin;
	}
	90% {
		list-style: upper-latin;
	}
	100% {
		list-style: armenian;
	}
}

progress#second:focus ~ *,
progress#second:focus-within ~ *,
progress#second:active ~ *,
progress#second:not(:focus),
progress#second:not(:focus-within),
progress#second:not(:active) {
	opacity: 0;
	height: 0;
	pointer-events: none;
}
progress#second:focus,
progress#second:focus-within,
progress#second:active {
	display: block;
	height: auto;
	opacity: 1;
	cursor: progress;
}
form[name="451"] {
	position: relative;
	display: flex;
	padding: 0.5rem;
}
form[name="451"] button {
	margin: 0;
	width: 100%;
}
form[name="451"] fieldset:valid {
	display: none;
}
form[name="451"] fieldset,
form[name="451"] label {
	cursor: pointer;
	position: absolute;
	opacity: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
span[id="404"] {
	display: inline-block;
	outline: none;
	cursor: default;
	caret-color: transparent;
}
span[id="404"]:empty:focus ~ *,
span[id="404"]:empty:focus-within ~ *,
span[id="404"]:empty:active ~ * {
	display: none;
}
form[name="date"]:valid fieldset::after {
	font-style: italic;
	content: "Interesting date! Maybe you have an issue number to search for?";
	width: 100%;
}
