body {
	/* there are many type of "mouse cursor", we can use */
	cursor: not-allowed;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
section {
	padding: calc(var(--size) / 2);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
section,
blockquote {
	outline: none;
	max-width: 25rem;
}
form {
	padding: 2vh;
}
button {
	font-size: var(--size);
	background-color: transparent;
}
output a {
	position: relative;
}
output a[type="echo"] {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: rotateX(0) rotateY(0) scale(1);
	transition: transform 222ms ease-in-out;
	z-index: 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	background-color: whitesmoke;
	text-align: center;
	padding: calc(var(--size) / 2);
}
output a:not([type="echo"]),
output a:not([type="echo"]) {
	opacity: 0;
}
output a:not(:focus),
output a:not(:active) {
	opacity: 0;
	z-index: 1;
	pointer-events: none;
	width: 0;
	height: 0;
}
output a[type="echo"][events]:focus form,
output a[type="echo"][events]:active form {
	pointer-events: all;
}
output a[type="echo"]:focus,
output a[type="echo"]:active {
	width: 100%;
	height: 100%;
	z-index: 2;
	opacity: 1;
	transform: rotateX(0) rotateY(0) scale(0.8);
	pointer-events: painted;
	background-color: black;
	font-size: var(--size);
}
output a[type="echo"],
output a[type="echo"] {
	color: #ff00ff;
}
output a[type="echo"]:nth-of-type(2n),
output a[type="echo"]:nth-of-type(2n) {
	color: #00ff00;
}
