blockquote {
	max-width: 15rem;
}
form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}
button {
	margin: calc(var(--size) / 3);
	font-size: 1rem;
}
button[type="button"] {
	cursor: help;
	transition: color 200ms ease-in-out;
}
button[type="button"]::before {
	content: "Not ready to negociate!";
}
button[type="button"]:active {
	cursor: not-allowed;
}
button[type="button"]:active::before {
	content: "Sure?!";
}
button[type="button"]:active::after {
	content: "Think a second or 2 no? ↝";
}
button[type="submit"] {
	opacity: 0;
	transition: 222ms-ease-in-out;
	transition-delay: 2s;
}
button[type="button"]:active ~ button[type="submit"] {
	opacity: 1;
}
