:root {
	--color-border: gray;
}
body {
	max-width: 20rem;
}
form {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
}
label {
	font-style: italic;
	padding: calc(var(--size) / 2);
	width: 100%;
	max-width: 40vw;
	max-height: 20vh;
	overflow: visible;
	border: 1px solid var(--color-border);
	display: flex;
	align-items: center;
	outline-offset: -0.3rem;
	position: relative;
}
button {
	/* position: absolute; */
	top: 0;
	right: 0;
	border-color: transparent;
	background-color: var(--color-bg);
	margin: 0.3rem;
	transition: all 200ms ease-in-out;
}
button[type="submit"] {
	color: transparent;
	z-index: 2;
}
button[type="submit"]:active {
	color: initial;
}
button[type="button"]:active {
	border-color: red;
}
button[type="button"]::before {
	content: "🔒";
}
button[type="button"]::before {
	content: "🔐";
}
label:focus ~ button[type="button"]::before {
	content: "🔓";
}
label:focus::before {
	content: "🔑";
	position: absolute;
	top: 0;
	left: 0;
}
