body {
}
form {
	counter-reset: checks;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 100%;
}
fieldgroup {
	display: flex;
	justify-content: center;
}
form fieldgroup {
	text-align: center;
}
input[type="checkbox"]::before {
	counter-increment: checks;
	content: "" counter(checks) ": ";
}
input[type="checkbox"]:checked {
	display: none;
}
input[type="checkbox"]:checked ~ button[type="submit"] {
	display: block;
}
input[type="checkbox"]:not(:checked) ~ button[type="submit"] {
	display: none;
}
button[type="submit"] {
	font-size: calc(var(--size) * 2);
	margin: var(--size);
	background-color: transparent;
}
