/* details:first-of-type[open] {
				 position: absolute;
				 top: 0;
				 left: 0;
				 right: 0;
				 bottom: 0;
				 } */
details,
summary {
	display: inline;
}
summary {
	padding: 0;
	font-style: italic;
}
