body {
	overflow: hidden;
}

section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 2;
}
details {
	width: 100%;
	padding: var(--size);
	display: flex;
}
summary {
	display: inline;
}
form {
	margin: var(--size);
	text-align: center;
}
form fieldset {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
form fieldset {
	order: 2;
	border: 0px solid transparent;
}
form blockquote {
	order: 1;
}
form button {
	order: 3;
}
input {
	font-size: var(--size);
	padding: var(--size);
	outline: 0.2em solid transparent;
	border: 0;
	border-bottom: 0.2rem solid black;
	max-width: calc(var(--size) * 6);
	align-self: center;
}
fieldset:invalid {
	/* outline: 0.2rem dashed red; */
}

fieldset:valid {
	/* outline: 0.2rem solid green; */
	display: none;
}
fieldset:valid ~ button {
	opacity: 1;
}
fieldset:not(:valid) ~ button {
	opacity: 0;
	pointer-events: none;
}
fieldset:not(:valid) + fieldset {
	display: none;
}

/* the underlines */
fieldset ~ i {
	border-bottom: 1px solid transparent;
	transition: border-color 222ms ease-in-out;
}
fieldset:nth-of-type(1) ~ i[name="a"] {
	/* background-color: red; */
}
fieldset:not(:valid):nth-of-type(1) ~ i[name="a"],
fieldset:not(:valid):nth-of-type(2) ~ i[name="b"],
fieldset:not(:valid):nth-of-type(3) ~ i[name="c"],
fieldset:not(:valid):nth-of-type(4) ~ i[name="d"] {
	border-bottom: 0.1rem solid black;
}
fieldset:not(:valid) ~ fieldset:valid {
	border-top-color: transparent;
}

button {
	margin: var(--size);
	transition: opacity 200ms ease-in-out;
}
