button {
	opacity: 0.5;
	pointer-events: none;
	transition: opacity 222ms ease-in-out;
	margin: var(--size);
	border-color: black;
	font-size: var(--size);
}
input[type="checkbox"]:not([required]):checked ~ button {
	opacity: 0.5;
	pointer-events: none;
	border-color: black;
}
form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
fieldset {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
form:valid button {
	opacity: 1;
	pointer-events: all;
}
form button {
	width: 100%;
}
