body {
	overflow: hidden;
	width: 100%;
}
details[open] {
	padding: calc(7vmax);
}
form {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
textarea {
	font-size: 1rem;
	padding: var(--size);
	resize: both;
	resize: both;
}
textarea:not(:valid) {
	outline-color: red;
}
textarea::valid {
	outline-color: green;
}
button {
	margin: calc(var(--size) / 3);
	border-width: 0.2rem;
}
label {
	position: absolute;
	bottom: 0;
	transform: translateX(30vmin) translateY(30vmin);
	/* transform: translateX(-100vmax) translateY(10vmax); */
}
button {
	font-size: 1rem;
}
form:not(:valid) button[type="button"]:active {
	cursor: not-allowed;
	border-color: red;
}
form:valid button[type="button"]:active {
	border-color: blue;
}
form:not(:valid) button[type="submit"]:active {
	border-color: blue;
}
form:valid button[type="submit"]:active {
	border-color: green;
}
input[name="url"] {
	display: none;
}
