img:not([src="#"]) {
	opacity: 0;
}
video:fullscreen {
	display: none;
}
video:fullscreen ~ * {
	cursor: zoom-out;
}
video:not(:fullscreen) {
	cursor: zoom-in;
}
a {
	opacity: 0;
	pointer-events: none;
	order: 0;
	padding: calc(var(--size) / 2);
	margin: var(--size);
	border: 1px solid transparent;
	transition: all 333ms ease-in-out;
	width: 100%;
}
video:fullscreen ~ input[type="checkbox"]:checked ~ a {
	pointer-events: all;
	opacity: 1;
	border-color: blue;
}
input[type="checkbox"]:checked ~ label {
	display: none;
}
input[type="checkbox"]:checked ~ a {
	pointer-events: all;
}
input[type="checkbox"]:checked ~ a:hover {
}
blockquote {
	max-width: calc(var(--size) * 15);
}
label {
	max-width: calc(var(--size) * 25);
	text-align: center;
}
span,
h1,
blockquote,
video,
label,
input {
	order: 1;
}
label {
	padding: var(--size);
}
select {
	order: 1;
	margin: var(--size);
}
