blockquote {
	max-width: calc(var(--size) * 25);
}
form {
	display: flex;
	flex-direction: column;
	padding: var(--size);
}
fieldset {
	display: flex;
	flex-direction: column;
	margin: calc(var(--size) / 2);
}
form button[type="submit"] {
	font-size: var(--size);
}
form button[type="submit"]::before {
	margin-right: calc(var(--size) / 3);
}
form:valid button[type="submit"]::before {
	content: "🏺";
}
form:not(:valid) button[type="submit"]::before {
	content: "❌";
}
input[type="range"] {
	cursor: col-resize;
}
input[type="text"] {
	margin: var(--size);
}
input:valid {
	border-color: green;
}
input:not(:valid) {
	border-color: red;
}
/* '⅁⅋∁∄∅∑∇∊⊁≭⊒⊆⊎⊶⋰⦰⦹⧁⧀⦾⦴⨂⨅⨄⅁' */
input[type="range"]:nth-of-type(1)::before {
	content: "ℸ";
}
input[type="range"]:nth-of-type(1)::after {
	content: "⅄";
}
input[type="range"][title="⅁"] {
	order: 1;
}
input[type="range"][title="⨅"] {
	order: 2;
}
input[type="range"][title="⨄"] {
	order: 3;
}
input[type="range"][title="⨂"] {
	order: 4;
}
input[type="range"][title="⧀"] {
	order: 6;
}
input[type="range"][title="⦾"] {
	order: 7;
}
input[type="range"][title="⧁"] {
	order: 8;
}
input[type="range"][title="⦴"] {
	order: 9;
}
input[type="text"] {
	order: 5;
}
input[type="text"]:las-of-type(1) {
	order: 10;
}
button[type="submit"] {
	order: 11;
}
