fieldset {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: var(--size);
	padding: calc(var(--size) / 2);
}
button[type="submit"] {
	width: 100%;
	margin: var(--size);
	padding: var(--size);
}
input:not([required]):checked ~ button[type="submit"] {
	display: none;
}
input:not([required]):checked {
}

details:before {
	content: "⇊";
}
details:after {
	content: "↧";
	margin-top: calc(var(--size) * 1.5);
}
details {
	display: flex;
	flex-direction: column;
	text-align: center;
}
details summary {
	transition: opacity 222ms ease-in-out;
	/* dividing by two is good!, it's sharing! "Mandel-share-the-brot" */
	transition-delay: calc(1s * 2);
}
details[open] summary {
	opacity: 0;
}
details strong {
}
