form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: calc(var(--size) * 2);
}
input {
	margin: var(--size);
}
output a {
	display: none;
	font-size: calc(var(--size) / 2);
	text-decoration: none;
}
output a::before {
	content: "🍀";
	font-size: calc(var(--size) * 1.5);
	padding: calc(var(--size) / 1.5);
	pointer-events: none;
	z-index: 1;
}
input:checked + output::before {
	content: attr(name);
}
input:checked + output a {
	display: inline-block;
}
input:checked ~ input:not(:checked[required]),
input:checked ~ input:not(:checked[required]) + output {
	display: none;
}
button[type="submit"] {
	transition: opacity 333ms ease-in-out;
}
input[required]:checked ~ input[required]:checked ~ button[type="submit"] {
	pointer-events: all;
	opacity: 1;
	width: 100%;
}
input:not([required]):checked ~ button[type="submit"],
input[required]:not(:checked) ~ button[type="submit"] {
	pointer-events: none;
	opacity: 0;
}
