body[name="420"] {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='50px'><text x='25' y='25' fill='red' font-size='20'>🍀</text></svg>");
	background-repeat: repeat;
	overflow: hidden;
	width: 100%;
	max-width: 40rem;
}
article {
	display: block;
	resize: both;
	position: relative;
}
article::after {
	content: attr(name);
	pointer-events: none;
	position: absolute;
	bottom: 0;
	right: 0;
}
span,
h1,
blockquote {
	background-color: orange;
	padding: 0.2rem;
}
span {
	position: sticky;
	top: 0;
}
article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
section {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	overflow: scroll;
}
section,
article {
	width: 100%;
	flex-grow: 1;
}
a::before {
	content: attr(name);
}
form {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
input {
	padding: calc(var(--size) / 2);
}
input[type="search"] {
	flex-grow: 1;
}
input[type="reset"] {
	cursor: pointer;
	background-color: green;
	color: white;
}
a[name="🍀"] {
	text-decoration: none;
	position: absolute;
	bottom: var(--size);
	right: var(--size);
	z-index: 2;
}
a[id="zoom"] {
	opacity: 0;
}
a[id="zoom"]:focus,
a[id="zoom"]:active {
	opacity: 1;
	display: block;
}
a[id="zoom"] {
	position: absolute;
	top: 0;
	left: 0;
	outline: none;
}
textarea {
	width: 100%;
	height: 100%;
	background-color: transparent;
	outline: none;
	border: none;
	font-size: var(--size);
	color: #ff00ff;
	min-height: 10vh;
}
a[id="zoom"]::after {
	pointer-events: none;
	content: "🔍️";
	position: absolute;
	bottom: 0;
	right: 0;
}
