body,
form {
	width: 100%;
	max-width: 30rem;
}
form[name="guess"] {
	display: flex;
	flex-direction: column;
	border: 1px solid;
	padding: var(--size);
	border: 1px solid transparent;
}
form[name="guess"]:valid {
	border-color: green;
}
form[name="guess"]:not(:valid) {
	border-color: purple;
}

/* fieldset, can have many inputs */
fieldset {
	display: flex;
	margin-bottom: var(--size);
	display: flex;
	justify-content: center;
}

fieldset:not(:valid) {
	border-color: red;
	pointer-events: none;
	user-select: none;
}
fieldset:valid {
	border-color: green;
}
fieldset:valid ~ fieldset:valid {
	border-color: green;
}
fieldset:not(:valid) ~ fieldset:valid {
	border-color: red;
	pointer-events: none;
}
fieldset:not(:valid) ~ fieldset:not(:valid) {
	opacity: 0.5;
}
fieldset:valid + fieldset {
	opacity: 1;
	pointer-events: all;
}
fieldset:valid legend {
	text-decoration: line-through;
	font-style: italic;
	color: darkgray;
}

fieldset:first-of-type {
	pointer-events: all;
}

/* routings to fix */
/* zero, explain radio node */
fieldset[name="0"]:not(:valid) progress[value="1"] {
	display: none;
}
fieldset[name="0"]:valid progress[value="1"] {
	display: inline-block;
}
fieldset[name="0"]:valid progress[value="0"] {
	display: none;
}
fieldset[name="0"] input[type="radio"]:checked ~ {
	display: none;
}
fieldset[name="0"]
	input[type="checkbox"]:checked
	~ input[type="radio"]:checked {
	display: inline-block;
}

/* one, explain checkbox node */
fieldset[name="1"] {
}

/* two show combined logic  */
fieldset input[type="radio"]:checked ~ input[type="checkbox"] {
	display: none;
}

/* three, combine two first elements */
fieldset[name="3"]
	input[type="radio"]:fisrt-of-type:checked
	~ input[type="checkbox"]:checked
	~ input[type="radio"]:last-of-type {
	pointer-events: none;
}

/* the submit button, in in the "last before last element" */
fieldset:nth-last-child(2) {
	justify-content: flex-end;
	display: flex;
	flex-direction: column;
}
fieldset:nth-last-child(2):valid {
	border-color: black;
}
form:valid fieldset:nth-last-child(2) button[type="submit"]::before {
	content: attr(valid);
}
form:not(:valid) fieldset:nth-last-child(2) button[type="submit"]::before {
	content: attr(not-valid);
}
/*
				 the form global progress are in the last fieldset
				 show them conditionaly to user  progress */
form:not(:valid) fieldset:last-of-type progress:first-of-type {
	display: block;
}
form:valid fieldset:last-of-type progress:last-of-type {
	display: block;
}
/* hide by default all visual progress elements,
				 only show when used for displaying their state */
progress {
	display: none;
}
