form {
	padding: calc(var(--size) / 2);
}
form textarea {
	width: 100%;
	resize: vertical;
	min-height: calc(10vh * 22);
	max-height: calc(12vh * 10);
	padding: calc(var(--size) / 2);
}
form fieldset p {
	font-style: italic;
	padding: calc(var(--size) / 2);
	margin: 0;
}
fieldset {
	display: flex;
	flex-wrap: wrap;
}
fieldset:last-of-type {
	justify-content: flex-end;
}
input {
	width: 100%;
}
input:valid {
	border-color: green;
}
input ~ output {
	display: none;
}
input:valid ~ output {
	display: block;
}
