body {
	max-width: 40rem;
}

form,
fieldset {
	display: flex;
	flex-direction: column;
	width: 100%;
}
fieldset {
	margin-top: var(--size);
}
fieldset:last-of-type {
	justify-content: flex-end;
}

input {
	width: 100%;
	font-size: 1rem;
}
button[type="submit"] {
	font-size: 1rem;
}
a[name="forgot"],
a[name="reset"] {
	opacity: 0;
	pointer-events: none;
}
a[name="forgot"]:focus,
a[name="forgot"]:active,
a[name="reset"]:focus,
a[name="reset"]:active {
	opacity: 1;
	pointer-events: all;
	outline: none;
	text-decoration: none;
	color: black;
}
object {
	width: calc(var(--size) * 4);
	height: calc(var(--size) * 4);
}
