:root {
	--color-bg: turquoise;
}
header {
	order: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
form:valid ~ header {
	display: none;
}
form {
	order: 1;
	flex-wrap: wrap;
	background-color: var(--color-bg);
	padding: var(--size);
	border-radius: 0.5rem;
	box-shadow: 0.9rem 1.7rem 1.2rem black;
	transform: scale(1);
	transition: transform 222ms ease-in-out;
}
form:valid {
	border: 1px solid green;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
form:valid {
	--animation-time: 1s;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><circle cx='25' cy='25' r='20' stroke='black' stroke-width='2' fill='yellow' /><circle cx='15' cy='20' r='2' stroke='black' fill='black' /><circle cx='35' cy='20' r='2' stroke='black' fill='black' /><path d='M 15 35 Q 25 45, 35 35' stroke='black' stroke-width='2' fill='transparent' /></svg>");
	/* background-color: var(--color-bg); */
}
form:valid + form:valid + form:valid + form:valid + form:valid + form:valid {
	animation: moveYourSmiley var(--animation-time) infinite linear;
	animation-delay: calc(var(--index) + 1);
}
form:valid ~ form:valid ~ form:valid {
	animation: bounceYourSmiley var(--animation-time) infinite linear;
}
form:valid ~ form:valid:nth-of-type(2n) {
	animation-direction: reverse;
}
form:valid ~ form:valid:nth-of-type(2n + 2) {
	animation-direction: forward;
}
form:valid ~ form:valid:nth-of-type(2n + 3) {
	animation-direction: backwards;
}
fieldset {
	margin: calc(var(--size) / 3);
	padding: calc(var(--size) / 3);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
textarea {
	resize: none;
	width: 100%;
	min-height: 20vh;
	color: black;
	font-style: cursive;
	padding: calc(var(--size) / 3);
	font-size: 1rem;
}
fieldset a {
	font-size: 0.7rem;
	color: gray;
}

form:valid fieldset {
	display: none;
}
form:first-of-type:not(:valid) form:last-of-type:not(:valid) {
	opacity: 0.5;
	pointer-events: none;
}
form ~ form:not(:valid),
form:last-of-type:not(:valid) {
	display: none;
}
form:valid + form:not(:valid) {
	display: flex;
	transform: scale(1);
}

form:valid + form:not(:valid) {
	transform: scale(1);
	--index: 0;
}
form:nth-of-type(2) {
	transform: scale(0.9);
	--index: 1;
}
form:nth-of-type(3) {
	transform: scale(0.8);
	--index: 2;
}
form:nth-of-type(4) {
	transform: scale(0.7);
	--index: 3;
}
form:nth-of-type(5) {
	transform: scale(0.6);
	--index: 4;
}
form:nth-of-type(6) {
	transform: scale(0.5);
	--index: 5;
}
form:nth-of-type(7) {
	transform: scale(0.4);
	--index: 6;
}
form:nth-of-type(8) {
	transform: scale(0.3);
	--index: 7;
}
form:nth-of-type(9) {
	transform: scale(0.2);
	--index: 8;
}
form:nth-of-type(10) {
	transform: scale(0.1);
	--index: 9;
}
form:nth-of-type(11) {
	transform: scale(0.05);
	--index: 10;
}
form:nth-of-type(12) {
	transform: scale(0.025);
	--index: 11;
}

form[type="checkout"]:not(:valid),
form[type="scale"]:not(:valid) {
	flex-direction: column;
}
form[type="scale"]:not(:valid) {
	overflow-x: scroll;
	max-height: 20vh;
}
form[type="warning"]:not(:valid) {
	flex-direction: column;
}
form[type="warning"]:not(:valid) legend,
form[type="warning"]:not(:valid) label {
	font-size: var(--size);
}
form:valid ~ form:valid {
	/* animation-state: play; */
	/* filter: invert(1); */
}
@keyframes moveYourSmiley {
	0% {
		/* filter: invert(1); */
	}
	10% {
		/* filter: invert(1); */
	}
	20% {
		background-size: contain;
		filter: invert(1);
	}
	90% {
		background-size: cover;
	}
	100% {
		background-size: cover;
	}
}
@keyframes bounceYourSmiley {
	20% {
		filter: invert(0);
	}
	90% {
		background-size: cover;
	}
	95% {
		background-size: cover;
	}
}
