body {
	font-size: 1.2rem;
}
a {
	transition: opacity 222ms ease-in-out;
}
a,
a:visited {
	color: blue;
}
a:not(:focus),
a:not(:active) {
	pointer-events: none;
	display: inline-flex;
	user-select: none;
}
a:focus,
a:active {
	outline: none;
	pointer-events: all;
	text-decoration: none;
}
nav {
	margin: 0;
	display: none;
}
nav a:not(:focus),
nav a:not(:active) {
	pointer-events: all;
}
nav a:hover,
nav a:active {
	pointer-events: all;
	background-color: silver;
}
form:valid nav {
	display: contents;
}

blockquote {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 1.6;
}
form {
	display: inline-block;
	flex-wrap: wrap;
}
h1,
span {
	text-decoration: default;
}
h1 a:not(:focus),
h1 a:not(:active) {
	pointer-events: all;
}
label:not(:focus),
label:not(:active) {
	pointer-events: none;
}
label:focus,
label:active {
	pointer-events: all;
	text-decoration: none;
	cursor: pointer;
}
label {
	color: blue;
	text-decoration: underline;
	outline: none;
}
label input {
	display: none;
}
