:root {
	--color-bg: white;
}
body {
	overflow: hidden;
}
:root[name$="rd"] form:valid fieldset:not(:empty) {
	background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%2230%22%3E%3Ctext%20x%3D%220%22%20y%3D%2215%22%3E.del_home_title.%3C%2Ftext%3E%3C%2Fsvg%3E");
}
header {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 2;
	background-color: var(--color-bg);
	padding: calc(var(--size) / 3);
}
section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%2230%22%3E%3Ctext%20x%3D%220%22%20y%3D%2215%22%3EHello%2C%20World%3C%2Ftext%3E%3C%2Fsvg%3E");
	background-repeat: repeat;
	padding: var(--size);
}
form[method="GET"] {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 2;
	background-color: var(--color-bg);
}
fieldset {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}
meter {
	margin: var(--size);
}
form[id="back"]:focus,
form[id="back"]:active {
	outline: none;
}
form[id="back"]:focus button::before,
form[id="back"]:focus-within button::before,
form[id="back"]:active button::before {
	filter: invert(1);
}
form[id="condition"] {
	/* transition: opacity 222ms ease-in-out; */
	margin: var(--size);
	background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%2230%22%3E%3Ctext%20x%3D%220%22%20y%3D%2215%22%3EHow%2C%20Are%2C%20U%3C%2Ftext%3E%3C%2Fsvg%3E");
	background-repeat: repeat;
	padding: var(--size);
	outline: none;
}
form[id="condition"]:not(:focus),
form[id="condition"]:not(:active) {
	opacity: 0;
	pointer-events: none;
}
form[id="condition"]:active,
form[id="condition"]:focus {
	opacity: 1;
	pointer-events: all;
}
form[id="condition"] button {
	font-size: var(--size);
	padding: var(--size);
	background-color: transparent;
}
form[method="GET"]:nth-of-type(1) button::after {
	content: "💊";
	margin: calc(var(--size) / 2);
}
form[method="GET"]:nth-of-type(3) button {
	direction: rtl;
}
form[method="GET"]:nth-of-type(3) button::before {
	content: "💊";
	filter: invert(1);
	margin: calc(var(--size) / 2);
}
form[method="GET"]:nth-of-type(3) meter {
	transform: rotate(180deg);
}
section::before,
section::after {
	font-size: calc(var(--size) * 5);
	position: absolute;
	z-index: 0;
}
section::before {
	content: "📺️";
	transform: translateX(30vmax) translateY(15vmax);
}
section::after {
	content: "🛋️";
	transform: translateX(-30vmax) translateY(-15vmax);
}
