blockquote {
	max-width: calc(var(--size) * 20);
}
form {
	padding: var(--size);
	border: 1px solid black;
	pointer-events: none;
}
form:not(:focus)::before,
form:not(:focus-within)::before,
form:not(:active)::before {
	content: "⭕️";
}
form fieldset {
	opacity: 0;
	transition: opacity 222ms ease-in-out;
}
form:focus fieldset,
form:focus-within fieldset,
form:active fieldset {
	opacity: 1;
	pointer-events: all;
}
form:focus::before,
form:focus-within::before,
form:active::before {
	content: "☑️";
}
form:valid:focus::before,
form:valid:focus-within::before,
form:valid:active::before {
	content: "✅";
}
fieldset {
	margin: var(--size);
	padding: calc(var(--size) / 2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
legend {
	padding: calc(var(--size) / 2);
}
