output {
	padding: var(--size);
}
form {
	position: relative;
}
form:valid fieldset {
	border: 1px solid green;
}
form:not(:valid) fieldset {
	border: 1px solid red;
}
form output input[type="radio"]:not(:checked) + input,
form output input[type="radio"]:not(:checked) ~ input {
	display: none;
}
form:not(:valid) input[type="submit"] {
	display: none;
}
fieldset:nth-of-type(1) {
	animation-delay: 1s;
}
fieldset:nth-of-type(2) {
	animation-delay: 2s;
}
fieldset:nth-of-type(3) {
	animation-delay: 3s;
}
fieldset:nth-of-type(4) {
	animation-delay: 4s;
}
@keyframes loading {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
