body {
	padding: calc(var(--size) / 3);
}
fieldset {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
legend {
	font-size: calc(var(--size) * 0.8);
}
button[type="button"] {
	font-size: calc(var(--size) * 2);
	margin: var(--size);
}
fieldset,
input {
	margin: calc(var(--size) / 3);
}
input[type="checkbox"] {
	border-color: black;
}
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid lightgray;
	padding: var(--size);
}
form:valid {
	border-color: green;
	display: block;
	max-width: calc(var(--size) * 10);
}
form:not(:valid) {
	border-color: red;
}
form:valid input,
form:valid progress,
form:valid blockquote,
form:valid button[type="button"],
form:not(:valid) button[type="submit"] {
	display: none;
}
form:valid fieldset,
form:valid legend {
	display: contents;
}
form:valid fieldset {
	border-color: transparent;
	margin: 0;
}
form:valid button {
	margin: 0.3rem;
	padding: 0.3rem;
}
