footer {
	margin: var(--size);
}
form {
	margin: var(--size);
}
[contenteditable] {
	caret-color: red;
	outline: none;
}
span:not(:empty) + form {
	display: none;
}
a video,
a audio,
a img,
a progress {
	padding: var(--size);
	max-width: ca(var(--size) * 5);
}
a#book {
	opacity: 0.5;
	pointer-events: none;
	text-decoration: none;
	/* z-index: 3; */
}
a#book:not(:focus),
a#book:not(:focus-within),
a#book:not(:active) {
	height: 0;
	overflow: hidden;
}
a#book:focus,
a#book:focus-within,
a#book:active {
	font-size: calc(var(--size) / 1.3);
	z-index: 3;
	opacity: 1;
	pointer-events: all;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
}
a#book::before {
	content: attr(cb);
}
a#book::after {
	content: attr(ca);
}
a#book::before,
a#book::after {
	padding: var(--size);
}
