body {
	/* cursor: none; */
}
body {
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
a {
	outline: none;
}
a:focus::before,
a:active::before {
	display: block;
	content: attr(id);
}
a:focus ~ a,
a:active ~ a {
	display: none;
}
a#active {
}
a#focus:focus,
a#focus:active {
	cursor: none;
	align-self: flex-start;
}
a#attention:focus,
a#attention:active {
	padding: var(--size);
	display: flex;
	width: 100%;
	height: 100%;
	flex-grow: 1;
	pointer-events: none;
	cursor: none;
}
a#attention:focus::before,
a#attention:active::before {
	pointer-events: auto;
}
