/* Universal box sizing (with inheritance → the big $$$ ftw)!
	 https://css-tricks.com/box-sizing
 */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* the :root CSS selector, targets to most to parrent of the HTML document,
	 in most (all) cases, it is the HTML element.
	 We use this for clarity purpose, to declare CSS variables.
	 A variable, stores some information; that way we can re-use it later,
	 in other part of the code, and we have a central place (the variable)
	 to change the value, so it is reflected in all other part of the code.
	 Docs: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
 */
:root {
	/* a variable for the font-size */
	--size-font: 17px;

	/* a variable for a "generic size" we can re-use elsewhere,
	 so we keep "some sort of proportions" when we apply padding, margin etc.
	 "visual rythm" we could call it.
 */
	--size: 1.5rem;

	/* and some for colors */
	--color-bg: white;
}

html {
	/* here, we "use the variable", into the font-size property of the HTML;
		 the variable value, is defined above */
	font-size: var(--size-font);
}

html,
body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}

body {
	margin: 0;
	padding: var(--size);
}

button {
	/* because the browser adds default style, we remove them;
		 our button now are transparent */
	/* background-color: transparent; */

	/* and let's bump up the fint size, easier to read' */
	/* font-size: var(--size); */
}

blockquote {
	max-width: 40rem;
}

input {
	padding: calc(var(--size) / 3);
}

/* shared styles */
button,
summary,
input[type="submit"] {
	/* button add some padding (distance inside their box),
		 to make them easier to click;
		 - we re-use the size variable
		 - and we use a "css function", to "calculate" how much is,
 the result of the math "--size divided by 2" */
	padding: calc(var(--size) / 2);

	/* also, let's show a nice "mouse cursor" when hovering */
	cursor: pointer;
}
blockquote {
	/* font-style: italic; */
}

h1 {
	font-size: 1.4rem;
	text-align: center;
}

h1,
p {
	margin: 0;
}
