html,
body,
iframe {
	height: 100%;
	width: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
body::before {
	content: "Congratulations! But the 3rd level is not ready yet.";
	padding: 1rem;
}
