@import url("../second/index.css");
@import url("../second/empty.css");
@import url("../second/404.css");
@import url("../second/404.css");
@import url("../second/405.css");
@import url("../second/406.css");
@import url("../second/407.css");
@import url("../second/408.css");
@import url("../second/409.css");
@import url("../second/410.css");
@import url("../second/411.css") layer(utils);
@import url("../second/412.css");
@import url("../second/413.css");
@import url("../second/414.css");
@import url("../second/416.css");
@import url("../second/417.css");
@import url("../second/418.css");
@import url("../second/420.css");
@import url("../second/421.css") layer(utils);
@import url("../second/422.css");
@import url("../second/423.css");
@import url("../second/424.css") layer(utils);
@import url("../second/425.css");
@import url("../second/426.css");
@import url("../second/428.css") layer(utils);
@import url("../second/429.css") layer(utils);
@import url("../second/431.css") layer(utils);
@import url("../second/451.css");

:root[name="third"],
:root[name="third"] body {
	height: 100%;
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	pointer-events: all;
	background-color: magenta;
	color: lime;
	caret-color: blue;
}
:root[name="third"] body::selection {
	color: white;
	background-color: black;
}
:root[name="third"] input {
	width: auto;
}
:root[name="third"] a {
	pointer-events: all;
}
:root[name="third"] input:valid {
	border-color: green;
}
:root[name="third"] form::before,
:root[name="third"] form::after {
	content: "";
	display: none;
}
:root[name="third"] form::after {
	width: auto;
	margin: 0.5rem;
	padding: 0.5rem;
}
:root[name="third"] form {
	font-size: 1.5rem;
}
:root[name="third"] form fieldset {
	pointer-events: all;
	color: black;
	width: auto;
	margin: 0.5rem;
	padding: 0.5rem;
}
:root[name="third"] form:not(:active):not(:valid),
:root[name="third"] form:not(:focus):not(:valid),
:root[name="third"] form:not(:focus-within):not(:valid) {
	filter: blur(0.2rem);
}
:root[name="third"] form:not(:active):not(:valid),
:root[name="third"] form:not(:focus):not(:valid),
:root[name="third"] form:not(:focus-within):not(:valid) {
	filter: blur(0.2rem);
}
:root[name="third"] form:active,
:root[name="third"] form:focus,
:root[name="third"] form:focus-within {
	filter: blur(0);
}
:root[name="third"] form:valid fieldset {
	opacity: 1;
	background-color: pink;
}
